.red{
    width: 100%;
    height: 250px;
    background-color: rgb(10, 148, 160)
}
.white
{
    width: 100%;
    height: 250px;
    background-color: rgb(18, 199, 163)
}
.blue{
    width: 100%;
    height: 250px;
    background-color: rgb(130, 15, 110)
}