.currentZoneButton {
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: none;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

body {
    font-family: 'Poppins';
    font-size: xx-large;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
}

.Button {
    font-family: 'Poppins';
    display: grid;
    grid-auto-flow: column;
    grid-gap: .5em;
    border: solid .25em transparent;
    padding: 1em 1.5em;
    border-radius: 9em;
}




